body{
    height: 100%;
    background-color: #caebf2;
    font-family: 'Roboto', sans-serif;
}

.heading{
    margin: 3.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 3em;
    background: url('https://images.unsplash.com/photo-1592364190806-cab4dacff3af?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTEwfHxyZXNvcnR8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 4em;
    border-radius: 10px;
    color:white;
}

nav{
    background-color: rgb(0, 39, 122);
}


.card{
    width: 200px;
    transition: 0.25s;
    transform: scale(1.02,1.02);
    margin-top: 5em;
}

.card:hover{
    box-shadow: 0 0.7em 0.7em -0.4em rgba(0, 29, 92, 1);
    transform: translateY(-10px) scale(1.1,1.1);
    border-radius: 7px;
    cursor: pointer;
}

.card-img-top{
    height: 170px;
}

.n-button{
    transition: 0.25s;
}

.n-button:hover{
    background-color: darkblue;
    color: whitesmoke;
}
