<!DOCTYPE html>
<html>
<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2WSJJH120N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2WSJJH120N');
</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UBP - Mumbai</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<!-- Angular Script -->
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Heebo&family=Karantina:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400;0,600;1,900&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="cities.css">
	<link type="text/css" rel="stylesheet" href="navbar.css" />
	
	<link type="text/css" rel="stylesheet" href="footer.css" />
	<style>
		table, th , td {
		padding: 4px;
		text-align: center;
		border: 1px #370080;
		}

		.table-new{
			padding: 70px;
		}
	</style>
</head>
<body>
	<div class= "bg-img-mumbai">
		<div class="col">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">UBP Travels</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="index.html">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="about.html">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="login.html">Login</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="plan.html">Let's Plan</a>
							</li>
						</ul>
						<form class="d-flex">
							<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
					</div>
				</div>
			</nav>
			<div class = "caption">
				<h1>Mumbai</h1>
				<h4 style = "text-align:center;">Spacious apartments in the fastest city of India</h4>>
			</div>

		</div>
</div>

	<div class="overview" style="color: black; font-weight: 400;">
		<p>Plan a lavish weekend at our Hotels in Mumbai with family and friends with all the possible luxuries at one place. Enjoy the serenity of this City with many things to explore and experience.</p>
	</div>

	<div class = "grid-container">
		<div class = "item1">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="https://media.istockphoto.com/photos/moonrise-over-south-central-mumbai-the-financial-capital-of-india-a-picture-id1215791152?b=1&k=6&m=1215791152&s=170667a&w=0&h=T_et8KuIivRrnfR_C1bJjBQl6OeF5DTRZrUv60jDvw4=" alt="First slide">
				</div>
				  <div class="carousel-item">
					<img class="d-block w-100" src="https://images.unsplash.com/photo-1567157577867-05ccb1388e66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG11bWJhaSUyMGNpdHl8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Second slide">
				</div>
				  <div class="carousel-item">
					<img class="d-block w-100" src="https://images.unsplash.com/photo-1595658658481-d53d3f999875?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG11bWJhaSUyMGNpdHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Third slide">
				</div>
				  <div class="carousel-item">
					<img class="d-block w-100" src="https://images.unsplash.com/photo-1592835978338-6b7b07592dfe?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fG11bWJhaSUyMGNpdHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Fourth slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="https://images.unsplash.com/photo-1607734834519-d8576ae60ea6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bXVtYmFpJTIwY2l0eXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="Fifth slide">
				</div>
			  <div class="carousel-item">
					<img class="d-block w-100" src="https://cdn.pixabay.com/photo/2017/05/10/08/25/marine-drive-2300181__340.jpg" alt="sixth slide">
			  </div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="sr-only"></span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="sr-only"></span>
			</a>
		  </div>
		</div>
		<div class = "item2">
			<h3 style="text-align: center; font-size: 23.75px;font-weight: 400;letter-spacing: 2px;text-shadow: none; color:#1c3bea;"> Amenities</h3>
			<p style="font-size: 20px;">
				2 bedrooms with attached bathrooms, common hall<br><br>
				Personal kitchen & Balcony Pool<br><br>
				All Rooms are with Air conditioners, 24 hour water supply.<br><br>
				Sea View, Worli Sea face.
			</p>

		</div>
	</div>

	<div class = "get_in_touch">
		<h3 style= "text-align: center; color:#1c3bea; "> ADDRESS </h3>
		<p style= "text-align: center; color: #1f4099;">
		   Vidyavihar,<br>
		   A-123 , UBP Travels,<br>
		   Mumbai- 400077, India.</p>
		<div class="details">
			<a href="#" class="btn" >SEND ENQUIRY</a>
		</div>
	</div><br><br>

	<div>
		<h3 style= "text-align: center; color:#1c3bea; "> MORE PROPERTIES</h3>
    </div>

	<div class = "table-new" ng-app = "details" ng-controller = "studentController">

		  <table class="table table-hover col-md-6">
			<tr style="color: #1c3bea;">
			<th>Location</th>
			<th>Property</th>
			</tr>
			<tr ng-repeat = "property in x.properties">
			<td ng-if="$odd" >{{ property.location }}</td>
			<td ng-if="$even">{{ property.location }}</td>
			<td ng-if="$odd" >{{ property.name }}</td>
			<td ng-if="$even">{{ property.name }}</td>
			</tr>
			</table>

	</div>

	<footer class="footer-distributed">

		<div class="footer-left">
			<h3>About<span>UBP<span></h3>

			<p class="footer-links">
				<a href="index.html">Home</a>
				|
				<a href="about.html">About</a>
				|
				<a href="#">Contact</a>
			</p>

			<p class="footer-company-name">© 2021 UBP Travels Pvt. Ltd.</p>
		</div>

		<div class="footer-center">
			<div>
				<i class="fa fa-map-marker"></i>
					<p><span>A123 - KJSCE,
					 Vidyavihar East</span>
					 Mumbai - 400077</p>
			</div>

			<div>
				<i class="fa fa-phone"></i>
				<p class="p2">+91 22-27782183</p>
			</div>
			<div>
				<i class="fa fa-envelope"></i>
				<p class="p3"><a href="#">contact@ubp.com</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">
				<span>About the company</span>
				We offer a marvelous stay and a memorable experience with your friends and family at the best price. <br>
			For more, Click Here <br>
		<a href="about.html">About Us</a></p>

			<div class="footer-icons">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-youtube"></i></a>
			</div>
		</div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   

	 <script>

		$(function () {
				$(document).scroll(function () {
					var $nav = $("#mainNav");
					$nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
				});
			});

		var details= angular.module("details", []);
		details.controller('studentController', function($scope) {
			$scope.x = {
			properties:[
			{location:'Himachal Pradesh',name:'Moksh Farms'},
			{location:'Ooty',name:'Leisure Villas, Ooty'},
			{location:'Kerala',name:'Leisure Villas, Kerala'}
			]
		};
		});
	 </script>
 </body>
 </html>
 
